[base]
pbrun = 
workdir = /public/data/chenbh/lc_reseq/gt
ref = /home/chenbh/lc_reseq/ref/lc.chr.fa
samplelist = /public/data/chenbh/lc_reseq/gt/scripts/sample.list
outprefix = dp
mappingTool = bwa
varcallingTool = gatk
#jointcallingTool = glnexus
jointcallingTool = gatk
[bwa]
bin = bwa
[gatk]
bin = gatk
[vcftools]
bin = vcftools
[bcftools]
bin = bcftools
[tabix]
bin = tabix
